@{
    ViewData["Title"] = "За нас";
}
<h1>@ViewData["Title"]</h1>

<body>

    <h2>Нашата мисија:</h2>
    <p>Нашата мисија е да придонесеме за одговорен урбан развој нудејќи јасен поглед на областите каде што казината се исклучени. Ние веруваме во создавање живописни и одржливи градови кои имаат приоритет на благосостојбата на нивните жители.</p>

    <h2>Како работи:</h2>
    <p>Едноставно користете ја нашата карта за да ги визуелизирате црвените зони каде што не може да се постават казина. Без разлика дали сте градски планер, водач на заедницата или загрижен граѓанин. </p>

</body>
